<ion-view view-title="Add Coupon" class="add_coupon_view">
  <ion-content class="add_coupon_content">

    <div class="list">
      <form name="newCouponForm">
        <div class="item item-input item-floating-label">
          <label class="input-label" for="code">Coupon Code</label>
          <input type="text" id="code" placeholder="Enter Code" name="code" required ng-model="newCoupon.code"/>
        </div>
        <div class="item item-input item-floating-label">
          <label class="input-label" for="exp_date">Expiry Date</label>
          <input type="text" id="exp_date" placeholder="Enter Expiry Date (MM/YYYY)" name="expiry" required
                 ng-model="newCoupon.expiry"/>
        </div>
        <button type="submit" class="button button-positive button-block" ng-disabled="newCouponForm.$invalid">Add
          Coupon
        </button>
      </form>
    </div>

  </ion-content>
</ion-view>
