<ion-view view-title="Add Coupon" class="add_coupon_view">
  <ion-content class="add_coupon_content">

    <div class="list">
      <div class="item item-input item-floating-label">
        <label class="input-label" for="code">Coupon Code</label>
        <input type="text" id="code" placeholder="Enter Code"/>
      </div>
      <div class="item item-input item-floating-label">
        <label class="input-label" for="exp_date">Expiry Date</label>
        <input type="text" id="exp_date" placeholder="Enter Expiry Date (MM/YYYY)"/>
      </div>
      <button class="button button-positive button-block">Add Coupon</button>
    </div>

  </ion-content>
</ion-view>
