<ion-view view-title="Contact us" class="contact_view">
  <ion-content class="contact_content">

    <div class="list card padding">
      <div class="item padding_zero">
        <div class="font_14px white_space_normal">
          Unit 14, 3 Edgar Buildings, George Street, Bath, England, BA1 2FJ
        </div>
        <div class="font_14px padding-top">Email : support@gmail.com</div>
        <div class="font_14px white_space_normal padding-top">
          Mobile No: 9090909090
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
