<ion-view view-title="Contact us" class="contact_view bg_view">
  <ion-content class="contact_content">

    <div class="list card padding">
      <div class="item padding_zero">
        <div class="padding-top">
          <div class="font_bold">Address 1</div>
          <div class="font_14px white_space_normal">
            Unit 14, 3 Edgar Buildings, George Street, Bath, England, BA1 2FJ
          </div>
        </div>
        <div class="padding-top">
          <div class="font_bold padding-top">Address 2</div>
          <div class="font_14px white_space_normal">
            Unit 14, 3 Edgar Buildings, George Street, Bath, England, BA1 2FJ
          </div>
        </div>
        <div class="font_14px padding-top">
          <div class="font_bold padding-top">Email</div>
          <div class="">support@gmail.com</div>
        </div>
        <div class="font_14px white_space_normal padding-top">
          <div class="font_bold padding-top">Mobile No</div>
          <div class="">9090909090</div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
