<ion-view view-title="Home" class="home_view">

  <ion-content class="home_content padding" delegate-handle="mainScroll">

    <div>
      <div class="type_heading">Deals of the day</div>

    </div>
    <div>
      <div class="type_heading">Discount Zone</div>

    </div>
    <div>
      <div class="type_heading">Clothing</div>
      <div class="scroll_area">
        <ion-scroll direction="x" zooming="false" class="">
          <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
          <div><img src="img/mi-4i.jpeg" alt=""/></div>
          <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
          <div><img src="img/mi-4i.jpeg" alt=""/></div>
          <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
          <div><img src="img/mi-4i.jpeg" alt=""/></div>
          <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
          <div><img src="img/mi-4i.jpeg" alt=""/></div>
        </ion-scroll>
      </div>
      <div>
        <div class="type_heading">Stationary</div>
        <div class="scroll_area">
          <ion-scroll direction="x" zooming="false" class="">
            <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
            <div><img src="img/mi-4i.jpeg" alt=""/></div>
            <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
            <div><img src="img/mi-4i.jpeg" alt=""/></div>
            <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
            <div><img src="img/mi-4i.jpeg" alt=""/></div>
            <div><img src="img/lenovo-k3-note.jpeg" alt=""/></div>
            <div><img src="img/mi-4i.jpeg" alt=""/></div>
          </ion-scroll>
        </div>
      </div>
      <div>
        <div class="type_heading">Furniture</div>
      </div>

    </div>

  </ion-content>

</ion-view>
