<ion-view view-title="Golf fit case" class="product_details_page">

  <ion-content class="padding" delegate-handle="mainScroll">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat
      ducimus est quam perspiciatis beatae veniam quos at minus eos optio dolore iure amet totam officia. </p>
    <ion-scroll direction="x" zooming="false" delegate-handle="horizontal" horizontal-scroll-fix="mainScroll">
      <p>Lorem ipsum dolor sit am consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat
        ducimus est quam perspiciatis beatae venim quos at minus eos optio dolore iure amet totam officia.<br/>Lorem
        ipsum dolor sit am consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat ducimus
        est quam perspiciatis beatae venim quos at minus eos optio dolore iure amet totam officia.</p>
    </ion-scroll>

    <ion-scroll direction="x" zooming="false" delegate-handle="horizontal2" horizontal-scroll-fix="mainScroll">
      <p>Lorem ipsum dolor sit am consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat
        ducimus est quam perspiciatis beatae venim quos at minus eos optio dolore iure amet totam officia.<br/>Lorem
        ipsum dolor sit am consectetur adipisicing elit. Soluta suscipit doloremque exercitationem vero placeat ducimus
        est quam perspiciatis beatae venim quos at minus eos optio dolore iure amet totam officia.</p>
    </ion-scroll>
  </ion-content>
</ion-view>
