<ion-view class="login_view">
  <ion-content class="login_content">

    <div class="list padding">
      <div class="item item-input">
        <input type="text" placeholder="Enter username"/>
      </div>
      <div class="item item-input">
        <input type="password" placeholder="Enter password"/>
      </div>
      <button class="button button-block button-outline color_ff font_bold" ng-click="changeState('app.tabs.home')">Login</button>
      <div class="display_inline_box">
        <button class="button button-clear button-light font_12px" ng-click="changeState('reset-pwd')">Forgot password?</button>
      </div>
      <div class="display_inline_box float_right">
        <button class="button button-clear button-light font_12px" ng-click="changeState('signup')">Create Account</button>
      </div>
    </div>

  </ion-content>
</ion-view>
