<ion-popover-view class="more_options_view">
  <ion-content class="more_options_content">
    <div class="list">
      <div class="item" ng-click="changeState('app.tabs.home')"><i class="icon ion-ios-home"></i>&nbsp; Home</div>
      <div class="item" ng-click="openExternalLink()"><i class="icon ion-ios-browsers"></i>&nbsp; Open In-app Browser</div>
      <div class="item" ng-click="shareonFaceBook()"><i class="icon ion-social-facebook"></i>&nbsp; Share on FB</div>
      <div class="item" ng-click="showLocalNotification()"><i class="icon ion-android-notifications"></i>&nbsp; Show Local Notification</div>
      <div class="item" ng-click="changeState('app.tabs.play-video')"><i class="icon ion-videocamera"></i>&nbsp; Play Video</div>
      <div class="item" ng-click="closeMoreOptionsPopover()"><i class="icon ion-android-options"></i>&nbsp; Option 5</div>
    </div>
  </ion-content>
</ion-popover-view>
