<ion-view view-title="Orders" class="orders_view">
  <ion-content class="orders_content">
    <div class="list">
      <div>
        <div class="item item-divider bg_none border_none">
          Recent
        </div>
        <div class="padding padding_tb_5px margin_zero" ng-repeat="i in [1,2,3,4,5]">
          <div class="item item-thumbnail-left br_top_4px">
            <img
              src="https://cdn2.vox-cdn.com/thumbor/lCYsTfmRH4K-KVGZLwLHpZWCnB8=/cdn0.vox-cdn.com/uploads/chorus_asset/file/693520/iphone6and6plusvertical.0.jpg"
              class="full-image">

            <h2>Apple iPhone 6</h2>

            <div class="font_12px white_space_normal">Expected delivery date : 12-10-2015</div>
            <div class="font_12px white_space_normal">Order id : 1212121212</div>
          </div>
          <div class="item padding border_top_none font_14px">
            Status : Accepted
          </div>
          <div class="item text-center padding br_bottom_4px">
            Cancel Order
          </div>
        </div>
      </div>
      <div class="margin_top">
        <div class="item item-divider bg_none border_none">
          Past
        </div>
        <div class="padding padding_tb_5px margin_zero" ng-repeat="i in [1,2]">
          <div class="item item-thumbnail-left br_top_4px">
            <img
              src="https://cdn2.vox-cdn.com/thumbor/lCYsTfmRH4K-KVGZLwLHpZWCnB8=/cdn0.vox-cdn.com/uploads/chorus_asset/file/693520/iphone6and6plusvertical.0.jpg"
              class="full-image">

            <h2>Apple iPhone 6</h2>

            <div class="font_12px white_space_normal">Delivered date : 12-10-2014</div>
            <div class="font_12px white_space_normal">Order id : 1212121212</div>
          </div>
          <div class="item text-center padding br_bottom_4px">
            Return Item
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
