<ion-view view-title="Orders" class="orders_view">
  <ion-content class="orders_content">
    <div class="list padding margin_zero" ng-repeat="i in [1,2,3,4,5]">
      <div class="item item-thumbnail-left">
        <img src="img/iPhone_6.png" class="full-image">

        <h2>Apple iPhone 6</h2>

        <div class="font_12px white_space_normal">Expected delivery : 12-10-2015</div>
        <div class="font_12px white_space_normal">Order id : 1212121212</div>
      </div>
    </div>
  </ion-content>
</ion-view>
