<ion-view view-title="Products" class="products_view_3 bg_view">
  <div class="bar bar-subheader">
    <div class="row text-center">
      <div class="col-50" ng-click="openFilterModal()">
        <i class="icon ion-funnel font_16px"></i> &nbsp; Filter
      </div>
      <div class="col-50 border_left_ccc" ng-click="showSortOptions()">
        <i class="icon ion-levels font_16px"></i> &nbsp; Sort
      </div>
    </div>
  </div>
  <ion-content class="products_content_3">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshTheProducts()"></ion-refresher>

    <div class="list margin_zero" ng-show="allHomeProducts.length > 0">
      <div ng-repeat="product in allHomeProducts | orderBy : sortType : sortReverse track by $index"
        class="product_section">
        <div class="item padding_zero margin_tb_2px">
          <div class="padding_zero">
            <div class="row" ng-click="goToProductDetailsPage(product)">
              <img ng-src="{{product.img}}" class="product_image">
            </div>
          </div>
          <div class="overlay">
            <div class="prod_name">{{product.name}}</div>
          </div>
        </div>
      </div>
    </div>

    <!--<ion-infinite-scroll on-infinite="loadMoreProducts()" distance="2%"></ion-infinite-scroll>-->
  </ion-content>

</ion-view>
