<ion-view view-title="Products" class="products_view">
  <div class="bar bar-subheader">
    <div class="row text-center">
      <div class="col-50" ng-click="openFilterModal()">
        <i class="icon ion-funnel font_16px"></i> &nbsp; Filter
      </div>
      <div class="col-50 border_left_ccc" ng-click="showSortOptions()">
        <i class="icon ion-levels font_16px"></i> &nbsp; Sort
      </div>
    </div>
  </div>
  <ion-content class="products_content padding">

  </ion-content>

</ion-view>
