<ion-view view-title="Products" class="products_view">
  <div class="bar bar-subheader">
    <div class="row text-center">
      <div class="col-50" ng-click="openFilterModal()">
        <i class="icon ion-funnel font_16px"></i> &nbsp; Filter
      </div>
      <div class="col-50 border_left_ccc" ng-click="showSortOptions()">
        <i class="icon ion-levels font_16px"></i> &nbsp; Sort
      </div>
    </div>
  </div>
  <ion-content class="products_content padding_tb_5px padding_lr_zero">
    <div class="list card margin_zero">
      <div class="item padding" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
        <div class="row padding_zero">
          <div class="col-25">
            <img src="http://cdn2.gsmarena.com/vv/bigpic/apple-iphone-6-4.jpg" class="full-image">
          </div>
          <div class="col-66 padding-left">
            <div class="font_14px">Apple iPhone 6S</div>
            <div class="font_10px color_88">Space Grey, 128 GB</div>
            <div class="font_12px">Rs. 65000</div>
          </div>
          <div class="col-10">
            <div class="" ng-click=""><i class="icon ion-ios-heart-outline font_20px"></i></div>
            <div class="padding-top" ng-click=""><i class="icon ion-ios-cart-outline font_20px"></i></div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>
