<ion-view class="signup_view">
  <ion-content class="signup_content">

    <div class="list padding">
      <form name="signupForm">
        <div class="item text-center border_bottom_none">
          <img src="img/logo.png" alt="" class="logo"/>
        </div>
        <div class="item item-input">
          <input type="text" placeholder="Enter your name" name="name" required ng-model="signup.name"/>
        </div>
        <div class="item item-input">
          <input type="email" placeholder="Enter your email-id" name="email" required ng-model="signup.email"/>
        </div>
        <div class="item item-input">
          <input type="tel" placeholder="Enter mobile number" name="mobileNo" required ng-model="signup.mobileNo"/>
        </div>
        <div class="item item-input">
          <input type="password" placeholder="Enter password" name="password" required ng-model="signup.password"/>
        </div>
        <button type="submit" class="button button-block button-outline color_ff font_bold"
                ng-click="changeState('app.tabs.home')" ng-disabled="signupForm.$invalid">
          Create Account
        </button>
        <div class="display_inline_box">
          <button type="button" class="button button-clear button-light font_12px" ng-click="changeState('login')">
            Login
          </button>
        </div>
      </form>
    </div>

  </ion-content>
</ion-view>
