<ion-view view-title="Terms" class="terms_view bg_view">
  <ion-content class="terms_content">

    <div class="list card padding">
      <div class="item padding_zero">
        <div class="font_14px white_space_normal">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, autem cupiditate dolor ipsum non nulla quidem quis
          voluptas voluptate voluptates. Blanditiis dignissimos dolor eaque facilis labore non, odio vitae voluptas?
        </div>
        <div class="font_14px white_space_normal padding-top">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, autem cupiditate dolor ipsum non nulla quidem quis
          voluptas voluptate voluptates. Blanditiis dignissimos dolor eaque facilis labore non, odio vitae voluptas?
        </div>
        <div class="font_14px white_space_normal padding-top">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, autem cupiditate dolor ipsum non nulla quidem quis
          voluptas voluptate voluptates. Blanditiis dignissimos dolor eaque facilis labore non, odio vitae voluptas?
        </div>
        <div class="font_14px white_space_normal padding-top">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, autem cupiditate dolor ipsum non nulla quidem quis
          voluptas voluptate voluptates. Blanditiis dignissimos dolor eaque facilis labore non, odio vitae voluptas?
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
