<ion-view view-title="Wallet" class="wallet_view bg_view">
  <ion-content class="wallet_content">

    <div class="list card margin_top_5px">
      <div class="item item-body text-center">
        <div>
          <img src="http://icons.iconarchive.com/icons/pixelkit/swanky-outlines/256/06-Wallet-icon.png" alt="" width="100px"/>
        </div>
        <div class="font_14px border_bottom_ccc padding-bottom">Total Wallet Balance</div>
        <div class="padding font_24px">Rs. 1000</div>
      </div>
    </div>

  </ion-content>
</ion-view>
